@model IEnumerable<CarritoDeCompras.Areas.Identity.Data.IdentityUsuario>

@{
    ViewData["Title"] = "IndexIdentity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado de Usuarios activos</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                <label>Correo Electrónico</label>
                @*@Html.DisplayNameFor(model => model.Email)*@
            </th>
            <th>
                <label>Nombre de Usuario</label>
                @*@Html.DisplayNameFor(model => model.UserName)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" title="Editar usuario"><i class="fa-solid fa-pen-to-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id" title="Ver detalle"><i class="fa-solid fa-circle-plus"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" title="Eliminar usuario"><i class="fas fa-times"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
