@model IEnumerable<CarritoDeCompras.Models.ProductoMostrable>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Identity
@using CarritoDeCompras.Areas.Identity.Data

@inject UserManager<IdentityUsuario> UserManager

<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

<h1>Carrito</h1>

@{
    if(ViewBag.VaciarCarrito != null)
    {
        <div class="form-floating mb-3">
            <div class="alert alert-success" role="alert">
                @ViewBag.VaciarCarrito
            </div>
        </div>
    }else if (@Model.Sum(p => p.producto.Precio * p.cantidadProducto) == 0)
    {
        <p>No tiene productos agregados al carrito de compras. Por favor, agregue algún producto para continuar con su compra</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nombre del Producto
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Total producto
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.producto.Nombre</td>
                        <td>@item.producto.Marca.Descripcion</td>
                        <td>@item.cantidadProducto @(item.cantidadProducto > 1 ? "unidades" : "unidad")</td>
                        <td>$ @item.producto.Precio</td>
                        <td>$ @(item.producto.Precio * item.cantidadProducto)</td>
                        <td>
                            @*<a asp-action="QuitarProductoDelCarrito" asp-route-idProducto="@item.producto.IdProducto" asp-route-idUser="@UserManager.GetUserId(User)">Quitar producto</a>*@

                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                              <a asp-action="QuitarProductoDelCarrito" asp-route-idProducto="@item.producto.IdProducto" asp-route-idUser="@UserManager.GetUserId(User)" class="text-muted" title="Eliminar"><i class="fas fa-times"></i></a>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p>Subtotal: $@Model.Sum(p => p.producto.Precio * p.cantidadProducto) <span>+ 21% IVA</span></p>

        <form asp-action="Index" asp-controller="Compra" method="post">
            <a class="btn btn-danger" asp-action="VaciarCarrito"><i class="fa-solid fa-trash-can"></i> Vaciar Carrito</a>
            <button class="btn btn-success" type="submit">Finalizar compra</button>
        </form>
    }
}
